@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 1.6em 10% 0em;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.left-nav > a {
    margin: 0 8px 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: #1f2937;
    padding: 0 10%;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content {
    max-width: 80ch;
}

h1{
    margin: 0;
}

.hero-secondary-text > p {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 40ch;
    margin-top: 0px;
}

button {
    color: white;
    font-weight: bold;
    background: #3882F6;
    font-size: 1.1em;
    padding: 0.4em 1em;
    border-radius: 10px;
    border-style: none;
}

.main-image img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.second-page {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 15%;
    padding-bottom: 5em;
}

.image-container {
    width: 200px;
    height: 200px;
}

.second-page h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.second-page p {
    text-align: center;
}

.second-page img {
    max-width: 150px;
}

.third-page {
    background-color: #e5e7eb;

}

.main-quote h2 {
   font-size: 36px;
   font-weight: lighter;
   color: #1f2937;
   font-style: italic; 
   padding: 15% 15% 0 15%;
}


.quote-author p {
    text-align: right;
    padding: 0 15% 10% 15%;
    font-weight: bold;
    font-size: 1.3em;
}

.fourth-page {
    color: white;
}

.cta {
    margin: 6% 8% 6% 8%;
    padding: 1.5% 1% 1.5%;
    background: #3882f6;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}

.cta-button button {
    border: solid 2px white;
    font-size: 1.4em;
}

.cta-text h3 {
    margin-bottom: 0;
    font-size: 1.6em;
}

.cta-text p {
    margin-top: 6px;
    font-size: 1.1em;
}

.footer {
    background-color: #1f2937;
    padding: 2%;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 1.1em;
}